@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-div{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


