.pagination-wrapper {
  position: fixed;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #f0f2f3;
}
